@import "tailwindcss";

@theme {
    --primary-bg: #FA8843;
    --side-bg: #ffd960;
    --black-text: #000000;
    --white-text: #ffffff;
    --button-links: #e47900;
    --button-links-hover: #ffba65;
    --secound-bg: #FAF1DD;

}
.container {
    @apply max-w-screen-lg mx-auto bg-(--secound-bg)
}

header {
    @apply flex text-(--white-text) bg-(--primary-bg) p-5
}

h1 {
    @apply font-sans text-4xl font-bold
}

.header-links *{
    @apply text-xs text-(--white-text)
}

a {
    @apply hover:underline text-(--button-links)
}

.pagebody {
    @apply flex flex-wrap
}

aside {
    @apply bg-(--side-bg) p-5 flex-grow min-w-80;
    width: 30%;
}

article {
    @apply p-2 m-2 flex-auto;
    width: 60%;
}

.box {
    @apply p-2 flex flex-col bg-(--secound-bg) border-2 border-solid border-(--black-text) text-wrap
}

.box * {
    @apply m-2
}

.img-captcha{
    width: 230px;
}

.captcha {
    @apply flex justify-center flex-row w-60
}

.captcha button {
    width: 30%
}

.captcha input {
    width: 70%;
}

input , textarea{
    @apply border-2 border-solid block bg-(--white-text) p-2 w-64
}

.checkbox {
    @apply flex text-left items-center cursor-pointer select-none
}

.checkbox input {
    @apply w-auto flex-none
}

submit, button {
    @apply p-3 bg-(--button-links) block hover:bg-(--button-links-hover) active:bg-(--button-links) w-fit
    cursor-pointer text-(--white-text)
}

.disabled-btn{
    @apply focus:!outline-none disabled:!opacity-25 hover:!bg-(--button-links) !cursor-not-allowed
}

p{
    @apply mt-3
}

.errors{
    @apply border-2 border-solid border-red-800 bg-red-100
}

.errors * {
    @apply text-left m-1
}

.errors h3 {
    @apply text-red-800 text-left text-xl
}

.pfp-box{
    @apply relative flex flex-col justify-center items-center border-2 border-solid border-(--primary-bg) mt-15 p-5;
    @apply bg-(--secound-bg) pt-10;
}

.pfp-img {
    @apply absolute rounded-full w-25 h-25 border-2 border-solid border-(--primary-bg);
    top: -65px
}

.username {
    @apply text-xl font-bold
}

.user-bio {
    @apply text-justify
}

.user-rows{
    @apply w-full
}

#since {
    @apply font-bold
}

.space-title-header, .post-footer {
    @apply flex justify-between mb-3
}
.space-title-header .right{
    @apply flex gap-5
}

.space-title-header .right h1{
    @apply text-xl
}

.space-title-header .right *{
    @apply m-0
}

.space-title-header .right img{
    width: 80px;
    height: 80px;
}
.post-box{
    @apply hidden m-1
}
.post-box form{
    @apply m-0 p-0
}
.post-box form *{
    @apply m-0 mb-2
}
.post-box input, .post-box textarea{
    @apply w-full
}

.post {
    @apply m-2
}

.post *{
    @apply m-0
}

.post-head{
    @apply flex gap-2 items-center mb-1
}

.post-head img, .space-list-item img{
    width: 50px;
    height: 50px;
}

.post h3{
    @apply text-xl font-bold
}

.space-list-item {
    @apply flex justify-between gap-3 items-center mt-2 p-3 hover:bg-(--button-links-hover)
}

.space-list-item *{
    @apply m-0 cursor-pointer
}

.space-list-item p{
      @apply line-clamp-1 text-slate-600
  }