@import "tailwindcss";

@theme {
    --primary-bg: #FA8843;
    --side-bg: #ffd960;
    --black-text: #000000;
    --white-text: #ffffff;
    --button-links: #e47900;
    --button-links-hover: #ffba65;
    --secound-bg: #FAF1DD;

}
.container {
    @apply max-w-screen-lg mx-auto bg-(--secound-bg)
}

header {
    @apply flex text-(--white-text) bg-(--primary-bg) p-5
}

h1 {
    @apply font-sans text-4xl font-bold
}

.header-links *{
    @apply text-xs text-(--white-text)
}

a {
    @apply hover:underline text-(--button-links)
}

.pagebody {
    @apply flex flex-wrap-reverse
}

aside {
    @apply bg-(--side-bg) p-5 flex-grow min-w-80;
    width: 30%;
}

article {
    @apply p-2 m-2 flex-auto;
    width: 60%;
}

.box {
    @apply p-2 flex flex-col bg-(--secound-bg) border-2 border-solid border-(--black-text) text-wrap
}

.box * {
    @apply m-2
}

.img-captcha{
    width: 230px;
}

.captcha {
    @apply flex justify-center flex-row w-60
}

.captcha button {
    width: 30%
}

.captcha input {
    width: 70%;
}

input {
    @apply border-2 border-solid block bg-(--white-text) p-2 w-64
}

.checkbox {
    @apply flex text-left items-center cursor-pointer select-none
}

.checkbox input {
    @apply w-auto flex-none
}

submit, button {
    @apply p-3 bg-(--button-links) block hover:bg-(--button-links-hover) active:bg-(--button-links) w-fit
    cursor-pointer text-(--white-text)
}

.disabled-btn{
    @apply focus:!outline-none disabled:!opacity-25 hover:!bg-(--button-links) !cursor-not-allowed
}

p{
    @apply mt-3
}

@media (max-width: 768px) {
    header .header-links{
        display: none;
    }
}
